.textAboutMe{
    color: white;
   
    border: 3px solid rgba(255, 255, 255, 0.281);
    margin-top: 30px;
    text-align: center;
    height: fit-content;
    
    
}

.textAboutMe p{
    font-style: italic;
    padding: 10px;
}