.cvContainer p, li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(192, 190, 190);
    font-size: 15px;
}

.cvContainer h1{
    font-size: 40px;
}

.firstColumn{
     width:50%;
      align-items: center;
}

.cvContainer{
    background-color: rgba(48, 44, 44, 0.568);
}


.secondColumn{
    width: 40%;
}

.columnsCv{
    display: flex;
    flex-direction: inline;
}

.columnsCv {
    justify-content: center;
}



@media screen and (max-width: 1475px) {
    .firstColumn{
        width:100%;
        margin: 0 auto;
        justify-content: center;
   }
   
   
   .secondColumn{
       width: 100%;
       margin: 0 auto;
        justify-content: center;
   }
   
   .columnsCv{
       display: block;
       justify-content: center;
   }
}
