.nProjects{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    
}

.buttonLeft2{
    display: none;
}

.nProjects div{
    text-align:center;
}

.show{
    text-align: center;
    padding-top: 10px;
    
}

.nProjects button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.showButton button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.show hr{
    border: rgba(88, 85, 85, 0.521) 1px solid;
}

.block{
    display: flex;
    flex-direction: inline;
    color: white;
    text-align: justify;
    justify-content: center;
}

.block button{
    color: rgb(255, 255, 255);
    background-color: rgba(53, 53, 53, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.322);
}

.block button:hover{
    
    background-color: rgba(255, 255, 255, 0.219);

}

.title{
    color: white;
    font-size: 80px;
    font-style: italic;
    text-align: center;
    line-height: 0;
}

.buttons{
    display: none;
}

.showType ul{
    padding-left: 0px;
}

.showType ul li{
    display: inline-block;
    margin: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.showType ul li button{
    background: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    padding: 0;
}

.showType ul li:hover div{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.showType{
    background-color: rgba(235, 235, 235, 0.034);
    box-shadow: 0px 0px 1px white;
    width: fit-content;
}

.buttons{
    background-color: rgb(51, 51, 51);
}

.showType ul li div button{
    color: rgb(255, 255, 255);

}
.buttonRight{
    height: 100%;
}



@media screen and (max-width: 1400px) {
    .nProjects{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }
}

@media screen and (max-width: 1222px) {
    
    .title{
        display: none;
    }
}

@media screen and (max-width: 970px) {
    .nProjects{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
    }
}

@media screen and (max-width: 900px) {
    .nProjects{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }

    .title{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .nProjects{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
    }
}

@media screen and (max-width: 530px){
    .block{
        display: block;
        text-align: justify;
        justify-content: center;
    }
    
    .buttonLeft{
        display: none;
    }

    .buttonLeft2{
        display: inline;

    }

    .middleButtons{
        text-align: center;
        margin-top: 5px;
    }

    .middleButtons button{
        font-size: 10px;
    }
}