.nProjects{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}

.nProjects div{
    text-align:center;
}

.show{
    text-align: center;
    padding-top: 10px;
}


.nProjects button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.showButton button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.show hr{
    border: rgba(88, 85, 85, 0.521) 1px solid;
}

.block{
    display: flex;
    flex-direction: inline;
    color: white;
}

@media screen and (max-width: 800px) {
    .nProjects{
        display: grid;
        grid-template-columns: repeat(1,1fr);  
    }

    .show{
        width: fit-content;
    }
}