.nProjects{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    
}

.nProjects div{
    text-align:center;
}

.show{
    text-align: center;
    padding-top: 10px;
    
}




.nProjects button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.showButton button{
    margin-bottom: 20px;
    margin-top: 5px;
}

.show hr{
    border: rgba(88, 85, 85, 0.521) 1px solid;
}

.block{
    display: flex;
    flex-direction: inline;
    color: white;
    text-align: justify;
    justify-content: center;
}

.block button{
    color: rgb(255, 255, 255);
    background-color: rgba(53, 53, 53, 0.856);
    border: 1px solid rgba(255, 255, 255, 0.322);
}

.block button:hover{
    
    background-color: rgba(255, 255, 255, 0.219);

}

.title{
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 0;
    font-style: italic;
   
}



@media screen and (max-width: 800px) {
    .nProjects{
        display: grid;
        grid-template-columns: repeat(1,1fr);  
    }

    .show{
        width: fit-content;
    }
}