.project h1{
    color: rgb(216, 216, 216);
    font-size: 40px;
}


.project div{
    text-align: center;
    justify-content: center;
}


.pack img{
    border: solid 2px rgba(255, 255, 255, 0.212);
}