.contenedor{
 background-color: rgb(65, 64, 64); 
 width:70%;
 color: white;
 display: flex;
 justify-content: center;
 flex-direction: inline;
 margin-left: 10px;
 margin-right: 10px;
 border: solid 1px white;
 text-align: center;
 
}

.info{
    margin: 0 auto;
}

.info p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    user-select: none;
}

.info h1 {
    font-size: 40px;
    color: rgb(163, 163, 163);
}


.picture{
    margin: 10px;
    margin-right: 0px;
    border: 2.5px solid rgba(255, 255, 255, 0.116);
    width: fit-content;
}




@media screen and (max-width: 1200px) {
    .contenedor{
        width:70%;
        display: block;
       }

    .picture{
        margin: auto;
        border: none;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .contenedor{
        width:fit-content;
        display: block;
       }

 

    .picture{
        margin: auto;
        border: none;
        text-align: center;
    }
}