.skillsBar{
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.281);
    width: 50%;
    text-align: center; 
    margin: 0 auto;
    margin-top: 40px;
/*     background-color: rgba(104, 95, 95, 0.247); */
    justify-content: center;
    box-shadow: 5px 10px #88888888;
    white-space: nowrap;

}

.skillsBar h1{
    color: greenyellow;
}

.listOfSkills{
    margin-bottom: 5px;
}

@media screen and (max-width: 1475px) {

    .skillsBar{
        margin-bottom: 20px;
    
    }
}