.educationInfo{
    border: 1px solid rgba(255, 255, 255, 0.329);
    width: 80%;
    color: white;
    text-align: center;
       
}

.educationInfo div{
    display: flex;
    flex-direction: inline;
    align-items: center;
}

.educationInfo p{
    padding-left: 5px;
}