
.primeraColumna{
    color: white;
    display: flex;
    flex-direction: inline;
    line-height: 0;
    justify-content: center;
    background: url(pexels-evie-shaffer-4004374.jpg) no-repeat center center/cover;
}

.primeraColumna h1{
    font-size: 70px;
}

.primeraColumna h3{
    font-size: 25px;
}


.name{
    margin-top: 200px;
    padding-left: 70px;
}

.primeraColumna img {
    margin-top: 30px;
    margin-right: 10px;
}

.segundaColumna h1 {
    margin: 0 0 0 0;
}

.segundaColumna{
    background-color: rgb(255, 255, 255);
}

.columnaIzq {
    padding-top: 20px;
    width:20%;
    padding-left: 270px;
}

.columnaIzq h1 {
   color: black;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 25px;
}

.columnaIzq p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(54, 54, 59);
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


.segundaColumna{
    display: flex;
    flex-direction: inline;
}

.columnaDerecha{
    padding-top: 40px;
}

.columnaDerecha h1 {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-left: 50px; 
    
 }

 .columnaDerecha p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70px;
    color: rgb(54, 54, 59);
}

.columnaDerecha h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(43, 43, 44);
}


.education{
   padding-top: 12px;
}

.columnaDerecha hr{
    width: 95%;
    margin-left: 40px;
}



.download a{
   
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

.download a:hover{
    text-decoration: underline white;
    color: rgb(255, 255, 255);
}
