.columns{
    display: flex;
    flex-direction: inline;
    padding-top: 20px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 20px;
}

img{
    margin-left: 120px;
}

h1{
    padding-top: 10px;
    padding-left: 250px;
    font-size: 40px;
}

.firstColumn{
    padding-left: 70px;
}