.socialMedia div{
    display: flex;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.socialMedia{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(116, 111, 111, 0.555);
    padding-bottom: 8px;
    padding-top: 8px;
}

.facebook a{
    color: #2b5cc7;
  }
  
  .twitter a{
    color: #49a1eb;
  }
  
  .instagram a{
    color: black;
  }