.contenedor{
 background-color: rgb(65, 64, 64); 
 width:70%;
 color: white;
 display: flex;
 justify-content: center;
 flex-direction: inline;
 margin: auto;
 border: solid 1px white;
 text-align: center;
}



.info p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.info h1 {
    font-size: 40px;
    color: rgb(163, 163, 163);
}


.picture{
    margin: 10px;
    border: 2.5px solid rgba(255, 255, 255, 0.116);
    width: fit-content;
}


@media screen and (max-width: 800px) {
    .contenedor{
        width:fit-content;
        display: block;
       }

    .picture img{
        width: 350px;
        height: 210px;
    }

    .picture{
        margin: auto;
        border: none;
        text-align: center;
    }
}
