.contenedor{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: url(pexels-evie-shaffer-4004374.jpg) no-repeat center center/cover;
    border: white 1px solid;
}

.contenedor div{
    text-align: center;
}

.contenedor:last-child{
    padding-bottom: 25px;
}