.socialMediaa a {
    color: white;
    font-size: 28px;

    vertical-align: middle;
    padding: 0 auto;
    
}

.socialMediaa a:hover{
    color: black;
}

.socialMediaa {
    border-top: 2px solid rgba(255, 255, 255, 0.342);
    border-bottom: 2px solid rgba(255, 255, 255, 0.342);
    margin-top: 200px;
    background-color: rgba(100, 102, 101, 0.514);  
    display: flex;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
  
}
  
