body {
    margin: 0;
}

.navbar{
    background-color: gray;
    display: flex;
    flex-direction: inline;
    font-size: 25px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color: white;
}

