body {
    margin: 0;
    height: 100vh;
    background: url(pexels-evie-shaffer-4004374.jpg);
}


.wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 320px;
  clear: both;
  overflow: auto;
  height: 100vh;
}


.sidebar {
  text-align: center;
  position: relative;
  width: 320px;
  margin-right: -320px;
  float: left;
  overflow: hidden;
  background: rgb(54,62,73);
  color: #eee;
  height: 100vh;
  -moz-box-shadow:    3px 0 5px 0 #555;
  -webkit-box-shadow: 3px 0 5px 0 #555;
  box-shadow:         3px 0 5px 0 #555;
}
 
.thea{
    padding-top: 20px;
}

.thea a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.322);
}

.thea a:hover{
  background-color: white;
  color: black;
}

.footer{
  display: none;
}



@media screen and (max-width: 1260px){
  .sidebar {
    width: 250px;
    margin-right: -250px;
  }

  .content {
    margin-left: 250px;
  
  }
}

   @media only screen and (max-width: 900px) {
    .wrapper {
      float: right;
      width: 100%;
    }
    
    .content {
      margin-left: 0px;
      clear:none;
      overflow: visible;
      height: fit-content;
    }
    
    
    .sidebar {
      display: flex;
      justify-content: center;
      text-align: center;
      position:static;
      width: 100%;
      margin-right: 0px;
      float: none;
      overflow:visible;
      background: rgb(54,62,73);
      color: #eee;
      height: fit-content;
      -moz-box-shadow:    none;
      -webkit-box-shadow: none;
      box-shadow:         none;
    }
     
    .thea{
        padding-top: 12px;
        height: fit-content;
    }
    
    .thea a{
        display: inline;
        color: white;
        text-decoration: none;
        font-size: 27px;
        padding: 5px;
        background: none;
    }
    
    .thea a:hover{
      background-color: white;
      color: black;
    }


    .footer{
      display: block;
    }
}

